*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
}
.cursor{
    cursor: pointer;
}
header{
    height: 100px;
    background-color: #009688;
}
main{
    height: 100vh;
    background-color: #DADBD3;
    display: flex;
    justify-content: center;
    position: relative;
}
.container{
    position: absolute;
    top: 20px;
    height: 95vh;
    min-width: 800px;
    background-color: #fff;
}

.profilo{
    background-color: #EAEAEA;
    height: 80px;
}
.avatar{
    width: 60px;
}
.fas{
    color:#B1B1B1;
}
.notifiche{
    background-color: #8EDAFC;
    height: 75px;
    padding-left: 12px;
    font-size:14px
}
.fa-bell-slash{
    color: #8EDAFC;
    background-color: #fff;
    border-radius: 50%;
    font-size: 25px;
    padding: 8px 5px;
}
.search-contact{
    position: relative;
    height: 41px;
    padding: 7px;
    background-color: #efefef;
}
.inputSearch{
    margin-left: 10px;
    padding-left: 30px;
    width: 65%;
}
.find{
    position: absolute;
    left: 25px;
    top: 14px;
}   
ul{
    padding-left:0;
    height: 57%;
    overflow-y: scroll;
}
ul li{
    padding-left:15px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
}
.active{
    background-color:lightgray;
}
.bg{
    background-image: url(/img/mine.jpg);
    height: 600px;
    position: relative; 
    overflow: auto;
}
.chat {
    width: 800px;
    display: flex;
    margin: 0 auto;
    padding: 50px 0px;
    position: relative;

}
.green{
    width:45%;
    background-color: #D7F2BF;
    border-radius: 10px;
    word-break: break-all;
    padding:10px 15px;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.white{
    width: 45%;
    background-color: #ffffff;
    border-radius: 10px;
    word-break: break-all;
    padding: 10px 15px;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputAdd{
    position: fixed;
    bottom: 12px;
    width: 880px;
    margin: 0;
    background: #eaeaea;
    height: 43px;
    padding: 8px;
}
.inputAdd input{
    width: 760px;
}
.inputAdd i{
    margin-left: 10px;
    font-size: 20px;
}
.inputAdd .fa-microphone {
    margin-left: 20px;
    font-size: 20px;
}
.data{
    font-size: 12px;
}

