*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
header{
    height: 100px;
    background-color: #009688;
}
main{
    height: calc(100vh - 100px);
    background-color: #DADBD3;
    display: flex;
    justify-content: center;
}


.container{
    position: absolute;
    top: 20px;
    height: 822px;
    min-width: 800px;
    background-color: rgb(239, 239, 239);
}
.profilo{
    background-color: #EAEAEA;
    height: 80px;
}
.avatar{
    width: 60px;
}
.fas{
    color:#B1B1B1;
}
.notifiche{
    background-color: #8EDAFC;
    height: 75px;
    padding-left: 12px;
    font-size:14px
}
.fa-bell-slash{
    color: #8EDAFC;
    background-color: #fff;
    border-radius: 50%;
    font-size: 25px;
    padding: 8px 5px;
}
ul{
    padding-left:0;
}
ul li{
    padding-left:15px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
}
.active{
    background-color:lightgray;
}
.bg{
    background-image: url(/img/mine.jpg);
    height: calc(100% - 140px);
    overflow-x: hidden;
}
.green{
    width:45%;
    background-color: #D7F2BF;
    border-radius: 10px;
    word-break: break-all;
    padding:10px 15px;
    float: right;
    
}
.chat{
    width: 800px;
    display: flex;
    margin: 0 auto;
    padding: 50px 0px;
    position: relative;

}
.white{
    width: 45%;
    background-color: #ffffff;
    border-radius: 10px;
    word-break: break-all;
    padding: 10px 15px;
    float: left;    
}
.chat-box-tray {
    background: rgb(185, 188, 189);
    display: flex;
    align-items: baseline;
    padding: 10px 15px;
    align-items: center;
    margin-top: 19px;
    bottom: 0;
    height: 100%;
    
}    
.input{
    position: absolute;
    bottom: 7px;
}
.input input{
    width: 60%;
    margin-left:10px;
}